.env
.vscode/launch.json
grpc_cust/__pycache__/
log/*.*
static/css/kendo.*.css
static/css/kendo.*.map
static/css/BlueOpal/*.*
static/css/Default/*.*
static/css/Fiori/*.*
static/css/fonts/DejaVu/*.*
static/css/fonts/glyphs/*.*
static/css/textures/*.*
dbtools/__pycache__/*.pyc
grpc_cust/__pycache__/*.pyc
__pycache__/*.pyc
static/css/images/*.*
__pycache__/controller.cpython-36.pyc
static/css/variables.scss
static/js/kendo.all.min.js
static/css/blueOpal.css
tools/__pycache__/*.pyc
config/config.json
config/secret.json
config/secret.bak
config/mycminl.*
config/cminl*
config
ext/config.json

venv/*.*
venv/Include/*.*
venv/Lib/*.*
venv/Scrpts/*.*
jars/phoenix*.jar
venv
ext/*.log
~*
grpc_cust/__pycache__/*.*
lvenv
gunicorn.log
__pycache__
src/dsbase
build
dpam.egg-info
dataapiaccount.egg-info
ext/account.sqlite
src/dpam/ext/account.sqlite
src/ext/account.sqlite
src/ext/*.log
lvenv
lvenv/*.*
