<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>API Client Account - Change Password</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <h2>Change Password</h2>

    <form style="padding-left:100px;padding-top:40px;width:400px;" action="{{ url_for('acct_bp.db_change_password') }}" method="POST">
        <div class="form-group">
            <label for="txt_client_id">Client ID</label>
            <input name="txt_client_id" id="txt_client_id" class="form-control" readonly value="{{ client_id }}">
        </div>

        <div class="form-group">
            <label for="txt_password">Password</label>
            <input name="txt_password" id="txt_password" class="form-control" type="password">
        </div>

        <div class="form-group">
            <label for="txt_password2">Confirm Password</label>
            <input name="txt_password2" id="txt_password2" class="form-control" type="password">
        </div>

        <div style="color:red;">{{error}}</div>

        <input type="submit" class="btn btn-outline-info" value="Change Password">
        <button type="button" class="btn btn-outline-info" onclick="window.location.href = '{{ list_page }}';"> Cancel </button>

    </form>
</body>
</html>