<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Resource</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <h2>Edit Resource</h2>

    <form style="padding-left:100px;padding-top:40px;width:400px;" action="{{ url_for('acct_bp.update_resource_for_admin') }}" method="POST">

        <div class="form-group">
            <label for="txt_client_id">Resource Name</label>
            <input name="txt_client_id" id="txt_client_id" class="form-control" readonly value="{{ account['CLIENT_ID'] }}" required>
        </div>

        <div class="form-group">
            <label for="txt_registry">Registry</label>
            <input name="txt_registry" id="txt_registry" class="form-control" value="{{ account['REGISTRY'] }}">
        </div>

        <div style="color:red;" id="errorContainer">{{error}}</div>
        <br/>

        <input type="submit" class="btn btn-outline-info" value="Update Resource">
        <button type="button" class="btn btn-outline-info" onclick="window.location.href = '{{ list_page }}';"> Cancel </button>

    </form>

    <script>
        $(function(){
            var err = `{{error}}`;
            if (err) {
                alert (err) ;
                $("#errorContainer").html(err.replace(/\n/g, "<br>"));
            }
        });
    </script>

</body>
</html>