aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
alabaster
alembic
altair
altgraph
amqp
aniso8601
antlr4-python3-runtime
anyconfig
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-timeout
attrs
Babel
backcall
beautifulsoup4
billiard
binaryornot
black
bleach
blinker
bokeh
botocore
bounded-pool-executor
build
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpickle
colorama
comm
contourpy
cookiecutter
coverage
cramjam
# cx-Oracle
cycler
debugpy
decorator
defusedxml
deprecation
docker
docutils
dynaconf
entrypoints
et-xmlfile
exceptiongroup
executing
fastapi
fastjsonschema
fastparquet
flake8
Flask
Flask-Cors
flask-restx
fonttools
frozenlist
fsspec
gitdb
GitPython
graphene
graphql-core
graphql-relay
greenlet
grpcio
#gssapi
gunicorn
h11
httptools
idna
imagesize
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jedi
Jinja2
jinja2-time
jmespath
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kedro
kedro-datasets
kedro-telemetry
kedro-viz
kiwisolver
kombu
llvmlite
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
mlflow
more-itertools
multidict
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nbstripout
nest-asyncio
networkx
notebook
notebook_shim
numba
numpy
numpydoc
omegaconf
openpyxl
orjson
packaging
pandas
pandocfilters
parso
pathspec
PDPbox
pefile
pexpect
#phoenixdb
pickleshare
Pillow
pip-tools
platformdirs
plotly
pluggy
pqdm
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
pyarrow
pycodestyle
pycparser
pydantic
pydeck
pyflakes
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyproject_hooks
pytest
pytest-cov
pytest-mock
python-dateutil
python-dotenv
python-slugify
pytoolconfig
pytz
PyYAML
pyzmq
qtconsole
QtPy
querystring-parser
redis
referencing
requests
#requests-gssapi
rich
rope
rpds-py
s3fs
scikit-learn
scipy
seaborn
secure
semver
Send2Trash
shap
six
slicer
smmap
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlparse
st-pages
stack-data
starlette
stqdm
strawberry-graphql
streamlit
streamlit-modal
tabulate
tenacity
terminado
text-unidecode
threadpoolctl
tinycss2
toml
tomli
toolz
toposort
tornado
tqdm
traitlets
typing
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
uvloop
validators
vine
watchdog
watchfiles
watchgod
wcwidth
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
xgboost
xyzservices
yarl
yellowbrick
zipp
